.card-container-average{
  background-color: #fff;
  height: 200px;
  margin: 1rem;
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  box-shadow: 10px 10px 9px -8px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 9px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 9px -8px rgba(0, 0, 0, 0.75);
}