.container {
  margin-left: 200px;
}

.container-content {
  margin-bottom: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.card-small {
  background-color: #fff;
  height: 200px;
  width: 200px;
  margin: 20px 0 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  box-shadow: 10px 10px 9px -8px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 9px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 9px -8px rgba(0, 0, 0, 0.75);
}

.card-big {
  background-color: #fff;
  height: 300px;
  margin: 0 200px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  box-shadow: 10px 10px 9px -8px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 9px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 9px -8px rgba(0, 0, 0, 0.75);
}